* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}

.outline-none {
    outline: none;
}

.table-header {
    font-size: 0.8rem
}


.imgInTable {
    width: 30px;
    height: 30px;
}

.imgModal {
    width: 145px;
    height: 150px;
}

.overlay-img {
    height: 0;
    width: 86%;
    top: 0%;
    left: 8%;
    background: linear-gradient(#ffff 50%, #252525 50%);
    background-size: 100% 200%;
    /*trasition effect for background*/
    transition: background 0.5s;
}


.overlay-img:hover {
    height: 51%;
    background-position: 100% 100%;
}

input[type="file"] {
    display: none;
}

.calendarIcon {
    cursor: pointer;
}

.wrapper {
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .icons {
    display: flex;
}

header .icons span {
    height: 38px;
    width: 25px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    user-select: none;
    border-radius: 50%;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-weight: 500;
    font-size: 0.9rem;
}



.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.calendar .days {
    margin-bottom: 10px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 0.9rem;
}

.calendar .weeks li {
    font-weight: 500;
    font-size: 0.9rem;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 22%;
    top: 45%;
    height: 20px;
    width: 20px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #9B59B6;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

@media only screen and (min-width: 360px) and (max-width: 430px) {
    .imgModal {
        height: 100px;
    }

    .overlay-img {
        left: 11%;
        width: 78%;

    }

    .overlay-img:hover {
        height: 25%;
    }

    .userData {
        width: 83% !important;
        margin-bottom: 0.5rem !important;
    }

    .wrapper {
        top: 38%;

    }

    .calendar .weeks li {
        font-size: 0.6rem;

    }

    .calendar .days li {
        font-size: 0.6rem;
    }

}